# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o
*.sln

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
*.suo
*.csproj.user
*.vbproj.user
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
ipch
*sdf

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
